* {
  font-family: 'Metal Mania', cursive;
}


.contain{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.quizz {
  display:flex;
  flex-direction:column;
  justify-content: space-around;
  align-items: center;
  width:80%;
}

.question2, .question3 {
    margin-top: 50px;
    margin-bottom:50px;
}

label {
  margin-right: 25px;
  margin-left: 15px;
  line-height: 32px;
}


input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border-radius: 50%;
  width: 16px;
  height: 16px;

  border: 2px solid #999;

  position: relative;
  top: 4px;
}

input:checked {
  border: 6px solid black;
}

.question2, .question3, .send{
    display:none;
 }
  
#answer1:checked ~ .question2 {
    display: block;
 }

#answer2:checked ~ .question3 {
    display: block;
  }

#answer3:checked ~ .send {
    display: block;
}

.pictures {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:calc(100vh - 120px);
    margin-top: -100px;
}

.lock, .scream {
    width:100px;
    height:auto;
}

.title {
    width:100%;
    margin-top:50px;
    text-align: center;
}