* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    color:white;
    background-color:white;
    background: url(https://cdn.pixabay.com/photo/2018/01/31/07/36/secret-3120483_960_720.jpg) no-repeat center fixed;
    background-size: cover;
}
.display-3{
    text-align: center;
}
.btn-outline-success{
    text-align: center;
    width: 100%;
}
p{
    text-align: center;
}
.my-sm-0{
    color: tomato;
}
.btn-group-vertical{
    display: flex;
    justify-content: space-around;
}