body {
    color:white;
    background: url(https://cdn.pixabay.com/photo/2018/01/31/07/36/secret-3120483_960_720.jpg) no-repeat center fixed;
    background-size: cover;
    font-family: 'Metal Mania', cursive;
}
h1{
    color:rgba(23, 201, 67, 0.835);
}

.display-3{
    text-align: center;
}
.btn-outline-success{
    text-align: center;
    width: 100%;
    font-weight: bold;
    font-size: 1.5em;
}
.jumbotron{
    margin-bottom: 0px;
    background: none;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}
p{
    text-align: center;
}
.my-sm-0{
    color: red;
    font-weight: bold;
    font-size: 1.2em;
    background: none;
}
.can{
    color: red;
}
.btn-group-vertical {
    width: 100%;
}
details{
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    color: black;
    background-color: rgba(0, 0, 0, 0.658);
}
button{
    margin-top: 15px;
    margin-bottom: 15px;
}
.btn-group-vertical button{
    color: black;
    font-weight: bold;
}
footer{
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
    margin-top: 30px;
}
li{
    color: white;
    font-weight: bold;
    font-size: 1.2;
}
details .btn {
    color: red;
    font-weight: bold;
    font-size: 1.5em;
}
summary,details ul{
    background-color: rgba(0, 0, 0, 0.658);
}

.bg-dark{
    list-style-type: none;
    background-color: rgba(0, 0, 0, 0) !important;   
}
