<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="UTF-8">
        <title>ALLEZ VOUS SURVIVRE</title>
        <link rel="stylesheet" href="index.css">
        <link href='https://fonts.googleapis.com/css?family=Aladin' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Metal+Mania&display=swap" rel="stylesheet">
    </head>
    
<body>
    <header>
    </header>
    
    <div class="area">⚠ DANGER ⚠</div>
        <h1 class="title"><img src="https://fontmeme.com/permalink/191030/231cb68e838122fa734e158a8680c9b9.png" border="0"></h1>  

        
        <section class="img">
        <a class="button" href="/quizz1">ENTER</a>
        </section>

<footer>
</footer>

</body>
</html>