<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="loose.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Metal+Mania&display=swap" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body class="perdubody">
	<header>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
         <img src="https://fontmeme.com/permalink/191030/7f30264607be6991697bf2b2a5bdb651.png">
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarColor02">
           <ul class="navbar-nav mr-auto">
             <li class="nav-item active">
               <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
             </li>
             <li class="nav-item">
               <a class="nav-link" href="#">Pricing</a>
             </li>
             <li class="nav-item">
               <a class="nav-link" href="#">About</a>
             </li>
           </ul>
           <form class="form-inline my-2 my-lg-0">
             <button class="btn btn-secondary my-2 my-sm-0" type="submit">Quitter</button>
           </form>
         </div>
       </nav>
		<div>
			<h2 class="failed">Failed !</h2>
		</div>
		<h1 class="perdutitle">
		</h1>
	</header>

	<div class="perdu">
		 <p>Game Over !</p>
	</div>
	<section class="tryagain">
       <a class="button" href="quizz1.html">TRY AGAIN !</a>
    </section>
</body>
</html>