<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Hackloween API - Movies</title>
</head>
<body>
<h1 th:text="${monsterInfos.name}">$name</h1>
<ul>
	<li th:text="|id : ${monsterInfos.id}|">id</li>
	<li th:text="|level : ${monsterInfos.level}|">level</li>
	<li th:text="|attack : ${monsterInfos.attack}|">attack</li>
	<li th:text="|defense : ${monsterInfos.defense}|">defense</li>
	<li th:text="|special : ${monsterInfos.special}|">special</li>
	<li th:text="|description : ${monsterInfos.description}|">description</li>
</ul>
<div><img th:src="@{${monsterInfos.picture}}"/></div>

<a href="/test">Go back</a>
</body>
</html>