<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Hackloween API - Monster</title>
</head>
<body>
<h1 th:text="${movieInfos.title}">$name</h1>
<ul>
	<li th:text="${movieInfos.id}">id</li>
	<li th:text="${movieInfos.year}">year</li>
	<li th:text="${movieInfos.country}">country</li>
	<li th:text="${movieInfos.director}">director</li>
</ul>
<div><img th:src="@{${movieInfos.posterUrl}}"/></div>
<a href="/test">Go back</a>
</body>
</html>