<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Quizz1</title>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Metal+Mania&display=swap" rel="stylesheet"> 
    <link type="text/css" rel="stylesheet" href="quizz1.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a href="/"><img class="navbar-brand" href="https://fontmeme.com/permalink/191030/7f30264607be6991697bf2b2a5bdb651.png" src="https://fontmeme.com/permalink/191030/7f30264607be6991697bf2b2a5bdb651.png"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>          <div class="collapse navbar-collapse" id="navbarColor02">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Pricing</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">About</a>
                    </li>
                  </ul>
                  <form class="form-inline my-2 my-lg-0">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Quitter</button>
                  </form>
                </div>
              </nav>
    </header>
    
    <div class="contain">
        <h1 class="title">First Universe : SCREAM</h1>
        <section class="quizz">            
            <form method="GET" action="/answerQuizz1">
                <div class="question1">
                    <h2>Quel est le déguisement utilisé dans la saga SCREAM ?</h2>
                    <input type=radio id="answer1" name="answer1" value="1" ><label for="answer1">Un déguisement de squelette</label>
                    <input type=radio id="answer1" name="answer1" value="2" ><label for="answer2">Un masque blanc et une cape noire</label>
                    <input type=radio id="answer1" name="answer1" value="3" ><label for="answer3">Une citrouille</label>      
                
                    <div class="question2">
                        <h2>Combien y a-t-il de chapitres dans la Saga SCREAM ?</h2>
                        <input type="radio" id="answer2" name="answer2" value="1" ><label for="answer1"> 4</label>
                        <input type="radio" id="answer2" name="answer2" value="2" ><label for="answer2"> 5</label>
                        <input type="radio" id="answer2" name="answer2" value="3" ><label for="answer3"> 7</label>      
                    
                        <div class="question3">
                            <h2>Dans Scream 1, qui sont les tueurs ?</h2>
                            <input type="radio" id="answer3" name="answer3" value="1" ><label for="answer1">Tatum Riley</label>
                            <input type="radio" id="answer3" name="answer3" value="2" ><label for="answer2">Billy Loomis & Stuart 'Stu' Marker</label>
                            <input type="radio" id="answer3" name="answer3" value="3" ><label for="answer3">Neil Prescott</label> 
                            <div class="send">
                                <br>
                                <button type=submit class="next">Suivant</button>
                            </div>     
                        </div>
                    </div>
                </div>
            </form> 
        </section>
        <div class="pictures">
            <p>Level 1</p>
            <img class="scream" th:src="@{${movie1.posterUrl}}" alt="">
            <p>Level 2</p>
            <img class="lock" src="img/cadenas.png" alt="">
            <p>Level 3</p>
            <img class="lock" src="img/cadenas.png" alt="">
            <p>Level 4</p>
            <img class="lock" src="img/cadenas.png" alt="">
        </div>
    </div>
</body>
</html>