<!DOCTYPE html>
<html>
<head>
    <title>Bravo ! Tu accèdes au niveau 2</title>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Metal+Mania&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="quizz1won.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a href="/"><img class="navbar-brand" href="https://fontmeme.com/permalink/191030/7f30264607be6991697bf2b2a5bdb651.png" src="https://fontmeme.com/permalink/191030/7f30264607be6991697bf2b2a5bdb651.png"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>          <div class="collapse navbar-collapse" id="navbarColor02">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="/">Accueil <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Récompenses</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">A propos</a>
                    </li>
                  </ul>
                  <form class="form-inline my-2 my-lg-0">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Quitter</button>
                  </form>
                </div>
              </nav>
    </header>
    
    <div class="contain">
        <h1 class="title">First Universe : SCREAM</h1>
        <section class="congratulations">  
            <p> Félicitations ! Vous venez de valider le premier niveau ! </p>
            <h2>Les bonnes réponses étaient :</h2>   
            <div class="goodAnswers">
                <p> <b>Réponse 1 :</b> Un masque blanc et une cape noire</p>
                <p> <b>Réponse 2 :</b> 4 chapitres </p>
                <p> <b>Réponse 3 :</b> Billy Loomis et Stuart 'STU' Marker</p>
            </div>   
            <a href="/fight1Choice"><button type="submit" class="continue">Continuer l'aventure</button></a>         
        </section>
        
        <div class="pictures">
            <p>Niveau 1</p>
            <img class="scream" src="img/scream.jpg" alt="">
            <p>Niveau 2</p>
            <img class="lock" src="img/cadenas.png" alt="">
            <p>Niveau 3</p>
            <img class="lock" src="img/cadenas.png" alt="">
            <p>Niveau 4</p>
            <img class="lock" src="img/cadenas.png" alt="">
        </div>
        
    </div>
    <audio loop="true" hidden="true" autoplay>
    	<source name="GoodEnough" src="son_quizz.mp3" type="audio/mp3">
    </audio>
    <embed name="GoodEnough" src="sound/son_quizz.mp3" loop="false" hidden="true" autostart="true">
</body>
</html>