<!DOCTYPE html>
<html>
<head>
    <title>Quizz1</title>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Metal+Mania&display=swap" rel="stylesheet"> 
    <link type="text/css" rel="stylesheet" href="quizz1.css">
</head>
<body>
    <header>
        <!--ajouter le header-->
    </header>
    <section class="quizz">
        <form method="GET" action="/answerQuizz1">
            <div class="question1">
                <h1>Question 1</h1>
                <input type=radio id="answer1" name="answer1" value="1" ><label for="answer1">Réponse A</label>
                <input type=radio id="answer1" name="answer1" value="2" ><label for="answer2">Réponse B</label>
                <input type=radio id="answer1" name="answer1" value="3" ><label for="answer3">Réponse C</label>      
            
                <div class="question2">
                    <h1>Question 2</h1>
                    <input type="radio" id="answer2" name="answer2" value="1" ><label for="answer1">Réponse A</label>
                    <input type="radio" id="answer2" name="answer2" value="2" ><label for="answer2">Réponse B</label>
                    <input type="radio" id="answer2" name="answer2" value="3" ><label for="answer3">Réponse C</label>      
                
                    <div class="question3">
                        <h1>Question 3</h1>
                        <input type="radio" id="answer3" name="answer3" value="1" ><label for="answer1">Réponse A</label>
                        <input type="radio" id="answer3" name="answer3" value="2" ><label for="answer2">Réponse B</label>
                        <input type="radio" id="answer3" name="answer3" value="3" ><label for="answer3">Réponse C</label> 
                        <div class="send">
                            <br>
                            <button type=submit class="next">Suivant</button>
                        </div>     
                    </div>
                </div>
            </div>
        </form> 
    </section>
    <div>

    </div>
</body>
</html>