* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    color:white;
    background-color:white;
    background: url(https://cdn.pixabay.com/photo/2018/01/31/07/36/secret-3120483_960_720.jpg) no-repeat center fixed;
    background-size: cover;
    font-family: 'Metal Mania', cursive;
}
.display-3{
    text-align: center;
}
.btn-outline-success{
    text-align: center;
    width: 100%;
    font-weight: bold;
}
.jumbotron{
    margin-bottom: 0px;
}
p{
    text-align: center;
}
.my-sm-0{
    color: tomato;
}
.btn-group-vertical {
    width: 100%;

}
details{
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    color: black;
    background: black;
}
button{
    margin-top: 15px;
    margin-bottom: 15px;
}
.btn-group-vertical button{
    color: black;
    font-weight: bold;
}
footer{
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
    margin-top: 30px;

}
details p{
    color:white;
    font-weight: bold;
    background: black;
    opacity: 1;
}
details .btn {
    color: red;
    font-weight: bold;
}
summary{
    background: black;
    filter: alpha(opacity=10); 
    opacity:0,5;
}